
@{
    ViewBag.Title = "About";
}

<h1 style="margin-top: 50px;
    color: white;">The Team</h1>

<div class="row">
    <div class="col-sm-6">
        <ul style="color: white;">
            <li><h3>Dr. G T Raju</h3><h4    style="color: white;">Mentor</h4><h4    style="color: white;">Dean of Engineering & Head of Department of Computer Science and Engineering</h4></li>
            <li><h3>Mrs. Sampada K S</h3><h4    style="color: white;">Project Manager</h4><h4    style="color: white;">Assistant Professor, Department of Computer Science and Engineering</h4></li>
            <li><h3>Mr. Karthik Hegde</h3><h4    style="color: white;">System Administrator</h4></li>
            <li><h3>Lalit Adithya V</h3><h4    style="color: white;">Tech Lead</h4><h4     style="color: white;">Student, Department of Computer Science and Engineering</h4></li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul style="color: white;">
            <li><h3>Digant Thakur</h3><h4     style="color: white;">Back-end Developer</h4><h4 style="color: white;">Student, Department of Computer Science and Engineering</h4></li>
            <li><h3>Jyothi Rupa S</h3><h4     style="color: white;">Back-end Developer</h4><h4  style="color: white;">Student, Department of Computer Science and Engineering</h4></li>
            <li><h3>Nithin Mathew</h3><h4    style="color: white;">Back-end Developer</h4><h4  style="color: white;">Student, Department of Computer Science and Engineering</h4></li>
            <li><h3>Simran Ganjoo</h3><h4   style="color: white;">UI/UX Designer, Front-end developer</h4><h4 style="color: white;">Student, Department of Computer Science and Engineering</h4></li>
        </ul>
    </div>
</div>